<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Redressed&display=swap")
        title = status
        style
            include ../static/style.css
    body
        div.container
            h1 #{message}
            h4
              a(href='/') Go Back
    script(src="../static/script.js")